annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
Django==6.0.4
fastapi==0.135.3
h11==0.16.0
idna==3.11
psycopg2-binary==2.9.11
pydantic==2.13.1
pydantic_core==2.46.1
PyMuPDF==1.27.2.2
python-multipart==0.0.26
requests==2.33.1
sqlparse==0.5.5
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.44.0
